<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.BookATable.TestToVerifyImages</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tapOnInfoTab</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>swipeImage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tapOnDoneButtonOnFullView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tapOnImageViewToFullScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tapOnBookNowButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tapOnCloseBDAScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
