<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="657fd0">  <td>18/08/27 17:31:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTestInitializeClass.setUp()[pri:0, instance:com.BookATable.TestToVerifyImages@dc24521]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1037324811</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/08/27 17:32:01</td>   <td>9707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestToVerifyImages.tapOnInfoTab()[pri:22, instance:com.BookATable.TestToVerifyImages@dc24521]">tapOnInfoTab</td> 
  <td>main@1037324811</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/08/27 17:32:06</td>   <td>14728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTestInitializeClass.getResult(org.testng.ITestResult)[pri:0, instance:com.BookATable.TestToVerifyImages@dc24521]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1037324811</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/08/27 17:32:06</td>   <td>14730</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestToVerifyImages.tapOnImageViewToFullScreen()[pri:23, instance:com.BookATable.TestToVerifyImages@dc24521]">tapOnImageViewToFullScreen</td> 
  <td>main@1037324811</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/08/27 17:32:06</td>   <td>15122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTestInitializeClass.getResult(org.testng.ITestResult)[pri:0, instance:com.BookATable.TestToVerifyImages@dc24521]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1037324811</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/08/27 17:32:06</td>   <td>15123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestToVerifyImages.swipeImage()[pri:24, instance:com.BookATable.TestToVerifyImages@dc24521]">swipeImage</td> 
  <td>main@1037324811</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/08/27 17:32:09</td>   <td>18173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTestInitializeClass.getResult(org.testng.ITestResult)[pri:0, instance:com.BookATable.TestToVerifyImages@dc24521]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1037324811</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/08/27 17:32:09</td>   <td>18174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestToVerifyImages.tapOnBookNowButton()[pri:25, instance:com.BookATable.TestToVerifyImages@dc24521]">tapOnBookNowButton</td> 
  <td>main@1037324811</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/08/27 17:32:11</td>   <td>19451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTestInitializeClass.getResult(org.testng.ITestResult)[pri:0, instance:com.BookATable.TestToVerifyImages@dc24521]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1037324811</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/08/27 17:32:11</td>   <td>19452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestToVerifyImages.tapOnCloseBDAScreen()[pri:26, instance:com.BookATable.TestToVerifyImages@dc24521]">tapOnCloseBDAScreen</td> 
  <td>main@1037324811</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/08/27 17:32:15</td>   <td>23583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTestInitializeClass.getResult(org.testng.ITestResult)[pri:0, instance:com.BookATable.TestToVerifyImages@dc24521]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1037324811</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/08/27 17:32:15</td>   <td>23584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestToVerifyImages.tapOnDoneButtonOnFullView()[pri:27, instance:com.BookATable.TestToVerifyImages@dc24521]">tapOnDoneButtonOnFullView</td> 
  <td>main@1037324811</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/08/27 17:32:18</td>   <td>26928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTestInitializeClass.getResult(org.testng.ITestResult)[pri:0, instance:com.BookATable.TestToVerifyImages@dc24521]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1037324811</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/08/27 17:32:18</td>   <td>26928</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTestInitializeClass.tearDown()[pri:0, instance:com.BookATable.TestToVerifyImages@dc24521]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1037324811</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>18/08/27 17:32:18</td>   <td>27368</td> <td title="&lt;&lt;BaseTestInitializeClass.sendMail()[pri:0, instance:com.BookATable.TestToVerifyImages@dc24521]">&lt;&lt;sendMail</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1037324811</td>   <td></td> </tr>
</table>
