<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Bookatable</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="feb3fa">  <td>18/08/27 16:22:41</td>   <td>0</td> <td title="&gt;&gt;BaseTestInitializeClass.reportSetup()[pri:0, instance:com.BookATable.TestSplashScreen@617faa95]">&gt;&gt;reportSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/08/27 16:22:41</td>   <td>359</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTestInitializeClass.setUp()[pri:0, instance:com.BookATable.TestSplashScreen@617faa95]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/08/27 16:22:51</td>   <td>10620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSplashScreen.appLaunchALLOWPermissionPopUp()[pri:1, instance:com.BookATable.TestSplashScreen@617faa95]">appLaunchALLOWPermissionPopUp</td> 
  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/08/27 16:22:57</td>   <td>16038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTestInitializeClass.getResult(org.testng.ITestResult)[pri:0, instance:com.BookATable.TestSplashScreen@617faa95]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/08/27 16:22:57</td>   <td>16041</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTestInitializeClass.setUp()[pri:0, instance:com.BookATable.TestSearchByLocation@1e127982]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/08/27 16:22:57</td>   <td>16402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSearchByLocation.searchByLocation()[pri:8, instance:com.BookATable.TestSearchByLocation@1e127982]">searchByLocation</td> 
  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/08/27 16:22:57</td>   <td>16440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTestInitializeClass.getResult(org.testng.ITestResult)[pri:0, instance:com.BookATable.TestSearchByLocation@1e127982]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/08/27 16:22:57</td>   <td>16449</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSearchByLocation.selectFirstRecordForLocationSearch()[pri:9, instance:com.BookATable.TestSearchByLocation@1e127982]">selectFirstRecordForLocationSearch</td> 
  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/08/27 16:22:57</td>   <td>16495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSearchByLocation.verifyRestaurantNameAndAddress()[pri:10, instance:com.BookATable.TestSearchByLocation@1e127982]">verifyRestaurantNameAndAddress</td> 
  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/08/27 16:22:57</td>   <td>16501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSearchByLocation.verifyVerticalScrollInRestaurantList()[pri:11, instance:com.BookATable.TestSearchByLocation@1e127982]">verifyVerticalScrollInRestaurantList</td> 
  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/08/27 16:22:57</td>   <td>16555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSearchByLocation.selectFirstRestaurantFromTheList()[pri:12, instance:com.BookATable.TestSearchByLocation@1e127982]">selectFirstRestaurantFromTheList</td> 
  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/08/27 16:22:57</td>   <td>16582</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSearchByLocation.tapOnContactTab()[pri:13, instance:com.BookATable.TestSearchByLocation@1e127982]">tapOnContactTab</td> 
  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/08/27 16:22:57</td>   <td>16592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSearchByLocation.tapOnBookNowButton()[pri:28, instance:com.BookATable.TestSearchByLocation@1e127982]">tapOnBookNowButton</td> 
  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/08/27 16:22:57</td>   <td>16603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSearchByLocation.selectCalendarDateforBooking()[pri:29, instance:com.BookATable.TestSearchByLocation@1e127982]">selectCalendarDateforBooking</td> 
  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/08/27 16:22:57</td>   <td>16614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSearchByLocation.tapOnDONEButton()[pri:30, instance:com.BookATable.TestSearchByLocation@1e127982]">tapOnDONEButton</td> 
  <td>main@2006034581</td>   <td></td> </tr>
</table>
