<h2>Methods that were not run</h2><table>
<tr><td>com.BookATable.BaseTestInitializeClass.tearDown</td></tr>
<tr><td>com.BookATable.BaseTestInitializeClass.sendMail</td></tr>
<tr><td>com.BookATable.BaseTestInitializeClass.reportSetup</td></tr>
</table>